#chat-container {
    z-index: 9999;

    position: fixed;

    bottom: 1rem;
    left: 1rem;

    .container {
        background: white;
        border: 1px solid #eee;
        width: calc(100vw - 2rem);
        height: 18rem;
        border-radius: 0.5rem;

        display: grid;
        grid-template-rows: auto 1fr auto;

        overflow: hidden;

        transition-property: width, height;
    }

    .users {
        display: flex;
        list-style: none;
        gap: 1rem;

        border-bottom: 1px solid #eee;

        padding: 0.5rem;

        .ready {
            color: rgb(23, 171, 23);
        }

        .not-ready {
            color: rgb(176, 60, 60);
        }

        .user {
            display: flex;
            align-items: center;
            gap: 0.25rem;

            iconify-icon {
                font-size: 1.25rem;
            }
        }
    }

    form {
        display: flex;
        border-top: 1px solid #eee;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;

        input {
            flex: 1;

            padding: 0.5rem 0.75rem;
            outline: none;
            border: none;
            border-bottom-left-radius: inherit;

            min-width: none;
        }

        button {
            cursor: pointer;
            border: none;
            padding: 0.5rem 0.75rem;
            border-bottom-right-radius: inherit;
            outline: none;

            &:active {
                opacity: 0.5;
            }
        }
    }

    .toggle {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.35rem;
        border: none;
        outline: none;
        cursor: pointer;

        background: #eee;
        border-radius: 0.5rem;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1.25rem;

        translate: 35% -35%;

        &:hover {
            padding: 0.2rem;
            font-size: 1.4rem;
        }

        &:active {
            opacity: 0.5;
        }
    }

    .messages {
        overflow-y: auto;
        padding: 0.5rem;

        .message {
            display: flex;
            flex-direction: column;

            .username {
                font-size: 0.8rem;
                font-style: italic;
                opacity: 0.5;
                margin-bottom: 1rem;
            }

            .content {
                font-size: 1rem;

                background: #eee;
                padding: 0.25rem 0.75rem;
                padding-bottom: 0.4rem;
                border-radius: 1rem;
                width: fit-content;
                margin-bottom: 0.125rem;

                word-break: break-word;

                max-width: 65%;
            }

            &:not(.me) {
                .username {
                    margin-left: 0.5rem;
                }

                .content {
                    margin-right: auto;
                }

                &.bottom {
                    .content {
                        border-bottom-left-radius: 0.25rem;
                    }
                }

                &.top {
                    .content {
                        border-top-left-radius: 0.25rem;
                    }
                }
            }

            &.me {
                .content {
                    background: #007bff;
                    color: white;
                    margin-left: auto;
                }

                .username {
                    margin-right: 0.5rem;
                    text-align: right;
                }

                &.bottom {
                    .content {
                        border-bottom-right-radius: 0.25rem;
                    }
                }

                &.top {
                    .content {
                        border-top-right-radius: 0.25rem;
                    }
                }
            }

            &:last-child {
                .username {
                    margin-bottom: 0;
                }
            }
        }
    }

    &.collapsed {
        .container {
            width: 1rem;
            height: 1rem;
        }
    }
}
