:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    transition: all 400ms cubic-bezier(0.2, 1, 0.3, 1);
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    height: 100vh;
}

.join-form {
    display: flex;
    padding: 1rem;
    gap: 0.5rem;

    border-bottom: 1px solid #eee;

    input {
        flex: 1;
        padding: 0.5rem 0.75rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
    }

    button {
        cursor: pointer;
        padding: 0.5rem 0.75rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;

        &:active {
            opacity: 0.5;
        }
    }
}

#ready {
    margin: auto;

    padding: 1rem 2rem;
    border: 1px solid #eee;
    border-radius: 0.25rem;

    cursor: pointer;

    &:hover {
        background: #eee;
    }

    &:active {
        opacity: 0.5;
    }

    &:disabled {
        pointer-events: none;
    }
}
